<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer th:fragment="footer">
    <div class="footer-container">
        <div class="footer-content">
            <p class="footer-copyright">
                &copy; 2025-2026 RAG Assistant by Filip Hana |
                <a href="https://gitlab.mff.cuni.cz/teaching/nprg045/hnetynka/2025-hana" target="_blank" class="footer-link">Gitlab</a> |
                <a href="https://gitlab.mff.cuni.cz/teaching/nprg045/hnetynka/2025-hana/-/blob/master/mainApp/LICENSE" target="_blank" class="footer-link">License</a> |
                <span class="footer-version">v1.0.0</span>
            </p>
        </div>
    </div>
</footer>

</body>
</html>