<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/headerFooterLayout.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div th:if="${error}" class="error">
    <p th:text="${error}"></p>
</div>

<form action="#" th:action="@{/user/login}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:value="${attemptedUsername}" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Submit</button>
</form>

<br>

<div class="button-row">
    <form class="button-row-form" action="#" th:action="@{/user/newUser}" method="get">
        <button type="submit">Create Account</button>
    </form>

    <form class="button-row-form" action="#" th:action="@{/user/guest}" method="post">
        <button type="submit">Login as Guest</button>
    </form>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>