<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Documents</title>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/history.css}">
    <link rel="stylesheet" th:href="@{/css/headerFooterLayout.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<h2>Indexed Documents</h2>

<table>
    <tr>
        <th>Document</th>
        <th>Indexation Time</th>
    </tr>
    <tr th:each="document : ${documents}">
        <td th:text="${document.getKey()}">Document</td>
        <td th:text="${document.getValue().getFormattedIndexTime()}">Indexed at</td>
    </tr>
</table>

<br>

<div class="button-row">
    <form class="button-row-form" action="#" th:action="@{/user/chat}" method="get">
        <button type="submit">Return</button>
    </form>
</div>

<script th:src="@{/js/sort-questions.js}"></script>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>