<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create New Project</title>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/headerFooterLayout.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<h2>Create New Project</h2>

<div th:if="${error}" class="error">
    <p th:text="${error}"></p>
</div>

<form th:object="${project}" th:action="@{/user/newProject}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" required>
    </div>

    <div>
        <input type="submit" value="Create Project">
    </div>
</form>

<br>

<form action="#" th:action="@{/user/dashboard}" method="get">
    <input type="submit" value="Back to Dashboard">
</form>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
