<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Form</title>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/headerFooterLayout.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<h2 th:text="${project.getName()}"></h2>

<div th:if="${project.isArchived()}" class="warning">
    <strong>⚠ Warning:</strong> This project is archived. No questions can be asked at this time. Please contact a project administrator to unarchive the project.
</div>

<div th:unless="${project.isArchived()}">
  <div th:if="${project.getFiles().size() == 0 && admin}" class="warning">
    <strong>⚠ Warning:</strong> This project is empty. Please add documents in the settings before asking questions.
  </div>

  <div th:if="${project.getFiles().size() == 0 && !admin}" class="warning">
      <strong>⚠ Warning:</strong> This project is empty. Please contact a project administrator to add documents.
  </div>

    <form action="#" th:action="@{/user/answer}" method="post">
        <label for="question">Question:</label>
        <div class="input-wrapper">
            <input type="text" id="question" name="question" required
                   th:maxlength="${maxQueryLength}">
            <span id="charCount" class="input-counter"></span>
        </div><br>
        <input type="submit" value="Submit">
        <script th:src="@{/js/maxLength.js}"></script>
    </form>

  <br>
</div>

  <form action="#" th:action="@{/user/history}" method="get">
      <button type="submit">History</button>
  </form>

  <br>

  <form action="#" th:action="@{/user/documents}" method="get">
      <button type="submit">Document List</button>
  </form>

  <br>

  <div th:if="${admin}">
  <form action="#" th:action="@{/user/admin}" method="post">
      <button type="submit">Settings</button>
  </form>

  <br>
  </div>

  <div class="button-row">
  <form action="#" th:action="@{/user/dashboard}" method="get">
      <button type="submit">Return</button>
  </form>

  <form th:if="${project.getAdminUsers().size() > 1 || !admin}" action="#" th:action="@{/user/exitProject}" method="post">
    <button type="submit" class="delete"
        onclick="return confirm('Are you sure you want to leave this project?')">
      Leave Project
    </button>
  </form>

  <form th:unless="${project.getAdminUsers().size() > 1 && admin}" action="#" th:action="@{/user/deleteProject}" method="post">
    <button type="submit" class="delete"
            onclick="return confirm('Are you sure you want to leave? As the last admin, this will delete the project.')">
        Leave Project
    </button>
  </form>
  </div>
</body>

<div th:replace="~{fragments/footer :: footer}"></div>

</html>