<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
</head>
<body>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>

<form action="#" th:action="@{/user/login}" method="post">
    <label for="users">Available Users:</label><br>
    <select id="users" name="userId" required>
        <option th:each="option : ${availableUsers}" th:value="${option.id}" th:text="${option.username}"/>
    </select>
    <br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password" required><br>
    <input type="submit" value="Submit">
</form>


<form action="#" th:action="@{/user/newUser}" method="get">
    <label>New User:</label><br>
    <input type="submit" value="Create">
</form>

</body>
</html>
