<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>

<form action="#" th:action="@{/user/chat}" method="post">
    <label for="projects">Available Projects:</label>
    <select id="projects" name="projectId" required>
        <option th:each="option : ${availableProjects}" th:value="${option.id}" th:text="${option.name}"/>
    </select>
    <br>
    <input type="submit" value="Select">
</form>
<br>
<form action="#" th:action="@{/user/newProject}" method="get" th:object="${users}">
    <label>New Project:</label>
    <input type="submit" value="Create">
</form>
<br>
<form action="#" th:action="@{/user/logout}" method="get">
    <input type="submit" value="Logout">
</form>

<form action="#" th:action="@{/user/deleteUser}" method="post">
    <button type="submit" class="delete" onclick="return confirm('Are you sure you want to delete this user?');">Delete User</button>
</form>
</body>
</html>
