<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Dashboard</title>
</head>
<body>

<form action="#" th:action="@{/user/chat}" method="post">
    <label for="projects">Available Projects:</label><br>
    <select id="projects" name="projectId" required>
        <option th:each="option : ${availableProjects}" th:value="${option.id}" th:text="${option.name}"/>
    </select>
    <br>
    <input type="submit" value="Select">
</form>
<br>
<form action="#" th:action="@{/user/newProject}" method="get" th:object="${users}">
    <label>New Project:</label><br>
    <input type="submit" value="Create">
</form>
<br>
<form action="#" th:action="@{/user/logout}" method="get">
    <input type="submit" value="Logout">
</form>

</body>
</html>
