<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Form</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/headerFooterLayout.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

  <div th:if="${project.lastIndexedTime == null && admin}" class="warning">
    <strong>⚠ Warning:</strong> This project is empty. Please add documents in the settings before asking questions.
  </div>

  <div th:if="${project.lastIndexedTime == null && !admin}" class="warning">
      <strong>⚠ Warning:</strong> This project is empty. Please contact a project administrator to add documents.
  </div>

  <form action="#" th:action="@{/user/answer}" method="post">
    <label for="question">Question:</label>
    <input type="text" id="question" name="question" required><br>
    <input type="submit" value="Submit">
  </form>

  <br>

  <form action="#" th:action="@{/user/admin}" th:if="${admin}" method="post">
      <button type="submit">Settings</button>
  </form>

  <br>

  <form action="#" th:action="@{/user/dashboard}" method="get">
      <button type="submit">Return</button>
  </form>

  <br>

  <form action="#" th:action="@{/user/deleteProject}" method="post" th:if="${admin}">
      <button type="submit" class="delete" onclick="return confirm('Are you sure you want to delete this project?');">Delete Project</button>
  </form>

  <form action="#" th:action="@{/user/exitProject}" method="post" th:if="${!admin}">
      <button type="submit" class="delete" onclick="return confirm('Are you sure you want to exit this project?');">Exit Project</button>
  </form>
</body>

<div th:replace="~{fragments/footer :: footer}"></div>

</html>