<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create New User</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
<h2>Create New User</h2>

<div th:if="${error}" class="error">
    <p th:text="${error}"></p>
</div>

<form th:object="${user}" th:action="@{/user/newUser}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
    </div>

    <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
    </div>

    <div>
        <input type="submit" value="Create User">
    </div>
</form>

<br>

<form action="#" th:action="@{/user/login}" method="get">
    <input type="submit" value="Back to Login">
</form>
</body>
</html>
